In [39]:
# 리스트 생성
a = [1,2,3,4,5]
print(a)
print(type(a))
# 개별요소를 참조 - 인덱스
print(a[0]) # 첫번째 요소
print(a[1]) # 두번째 요소
# 마지막 요소
print(a[4])
print(a[-1])
#리스트 변경가능
a[0] = 10
print("a = ", a)
# 개별요소를 줄단위로 출력
## 반복
print(a[0]) 
print(a[1])
print(a[2]) 
print(a[3])
print(a[4]) 

# for 개별변수 in 집합변수

for i in a:
    print(i)
print("-" * 20)

# for i in a:
#     print(a[i]) # 이것도 가능한데 위에거 보다 덜 효율적임/ 자바는 되는데 파이썬은 안됨
# => 위에거 실행하면 a[a[0]]으로 파이선은 인식함

[1, 2, 3, 4, 5]
<class 'list'>
1
2
5
5
a =  [10, 2, 3, 4, 5]
10
2
3
4
5
10
2
3
4
5
--------------------

In [42]:
# 중첩 리스트 = 이차원 리스트, 이차원 배열
a = [1, 2, 3, [a, b,c]]
print(a)
print(a[3])
print(a[3][0]) # 리스트는 [행][열]
# 에러 : name 'c' is not defined 가 나오는건 ' ' 를 안씌워서 그럼

NameError: name 'c' is not defined

In [41]:
#리스트를 저장할 때 값 자체가 아니라 값이 위치한 메모리의 주소로 저장한다(그림참조)

x = [1, 2, 3, 4, 5]
# 개체복사 
y = x
y[0] = 10
print("x = ", x)
print("y = ", y)
# 깊은 복사(주소까지 복사)

x =  [10, 2, 3, 4, 5]
y =  [10, 2, 3, 4, 5]

In [8]:
x = [1, 2, 3, 4, 5]
y = x[:] # 슬라이싱 // 지금은 y 의 값만 갖고 오라는 뜻
y[0] = 10
print("x = ", x)
print("y = ", y)

x =  [1, 2, 3, 4, 5]
y =  [10, 2, 3, 4, 5]

In [9]:
x = [1, 2, 3, 4, 5]
print(x[0:2]) # 0, 1

[1, 2]

In [10]:
print(x[:]) # 인덱스에 아무것도 안담으면 다 갖고 와라

[1, 2, 3, 4, 5]

In [11]:
print(x[:3]) #0번 부터 3번까지

[1, 2, 3]

In [12]:
print(x[1:]) # 1번쨰부터 마지막까ㅣ

[2, 3, 4, 5]

In [15]:
# 리스트 연산 : 더하기 연산 , .extend()(확장한다)
a = [1, 2, 3]
b = [5, 6, 7]
c = a + b # 리스트가 가로로 연결
d = a.extend([5, 6, 7]) # 변수가 아니라 리스트 자체가 와야함
print("c = ", c)
# print("d = ", d)( none이 나옴)
print("a = ", a)
# a.extend( b) a = a+b라서 non 이 나옴( 별도에 변수에 담는것이 아니다)

c =  [1, 2, 3, 5, 6, 7]
a =  [1, 2, 3, 5, 6, 7]

In [18]:
#문자열도 시퀀스 자료형
# 문자열 + 문자열
a ="hello" + "python"
b = "hello " + "python"

print(a)
print(b)

hellopython
hello python

In [4]:
#리스트 연산 : 곱셈,반복, 리스트 *반복횟수 (리스트*리스트는 여기선 안됨)
a = [1, 2, 3,]
b = a * 3 
print(b)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [20]:
"hello" * 3

'hellohellohello'

In [5]:
a

[1, 2, 3]

In [8]:
a[1:2] = ['a', 'b', 'c']
a

[1, 'a', 'b', 'c']

In [9]:
a = [1, 2, 3]
a[1:3] = [] #인덱스 1과 2번째 값을 삭제
a

[1]

In [13]:
a = [1, 2, 3]
del  a[1] 
a

[1, 3]

In [15]:
a = [1, 4, 2, 3]
a.sort() # 오름차순
print(a)

[1, 2, 3, 4]

In [16]:
a = [1, 4, 2, 3]
a.sort()
a.reverse() # 뒤집기
print(a)

[4, 3, 2, 1]

In [17]:
a = [1, 4, 2, 3]
a.sort(reverse = True)
print(a)

[4, 3, 2, 1]

In [18]:
a = [ 'a','c','d','b'] # 사전순- 알파벳순으로
a.sort()
a

['a', 'b', 'c', 'd']

In [19]:
a = [1, 2, 3, 4, 5]
print(a.index(3)) # 3이라는 값이 몇번째 위치에 있느냐?

2

In [20]:
b = ['a', 'b','c']
print(b.index('h')) # 없는 데이터의 위치를 찾으면 에러발생

ValueError: 'h' is not in list

In [21]:
 a = [1, 2, 3]
a. insert (0,4)
print(a)

[4, 1, 2, 3]

In [24]:
a = [1, 2, 3, 1, 2, 3]
# 값이 3인요소 삭제(처음거 1개만 삭제)
a.remove(3) # 값으로 삭제
print(a)

[1, 2, 1, 2, 3]

In [26]:
del a[0] # 인덱스로 삭ㅈㅔ
a

[2, 1, 2, 3]

In [27]:
a = [1, 2, 3]
b = a.pop() # 리스트의 마지막 요소를 추출
print(a)
print(b)

[1, 2]
3

In [29]:
# 요소의 개수(건수)를 추출
a = [1, 2, 3, 1, 2, 1]
b = a.count(1) # 값이 1인 요소가 몇개인지 계산하는 함수
print(b)

3

In [31]:
# 리스트의 확장
a = [1, 2, 3]
# 리스트1.extend(리스트2) > 리스트의 확장
a.extend([4, 5]) # 함수에는 리스트만 들어와야함
#a.extend(6) = 함수안에가 상수라서 에러가 남
print(a)

[1, 2, 3, 4, 5]

In [32]:
b = [7, 8]
print(a + b)

[1, 2, 3, 4, 5, 7, 8]

In [33]:
# 값 in 리스트 , 값 not in 리스트
##: 해당값에 리스트의 요소가 있습니까 라고 물어 보는거
### 결과는 T or F
a = [1, 2, 3, 4, 5]
result = 2 in a # 있으면 T, 없으면 F 
print(result)

result = 2 not in a # 없으면 T, 있으면 F
print(result)

True
False

# 튜플 (Tuple)

In [35]:
tl = (1, 2, 'a', 'b')
print(tl)
print(type(tl))
print(tl[0]) 
print(tl[-1])
tl[0] = 'c' #에러발생. 왜냐면 튜플은 변경이 불가능해서

(1, 2, 'a', 'b')
<class 'tuple'>
1
b

TypeError: 'tuple' object does not support item assignment

In [37]:
del tl[0] # 튜플은 삭제가 안됨

TypeError: 'tuple' object doesn't support item deletion

In [38]:
t1 = (1, 2,'a', 'b')
print(t1[1:])
t2 = (3,4)
print(t1 + t2)
t1 = t1 + t2 #새로운 튜플을 생성한다는 의미로 이해해야한다
print("t1 =", t1)
print(t1 * 3)

(2, 'a', 'b')
(1, 2, 'a', 'b', 3, 4)
t1 = (1, 2, 'a', 'b', 3, 4)
(1, 2, 'a', 'b', 3, 4, 1, 2, 'a', 'b', 3, 4, 1, 2, 'a', 'b', 3, 4)

In [43]:
# 파이썬에 기본 자료형 튜플
a = 10
b = 20
print(" a =", a, "b = ", b)

 a = 10 b =  20

In [45]:
c = a 
d = b
b = c
print(" a =", a, "b = ", b)

 a = 20 b =  20

In [46]:
a = 10
b = 20
a, b = b,a# 우변에 () 생략
print(" a =", a, "b = ", b)

 a = 20 b =  10

In [47]:
a = 10
b = 20
a, b = (b,a) # 좌변은 언패킹, 우변 패킹 / 위에꺼랑 같은거 나옴 
print(" a =", a, "b = ", b)

 a = 20 b =  10

In [51]:
# packing(패킹) : 여러 개의 값을 하나의 변수에 저장하는 것
tl = (1, 2, 3)
# unpacking : 하나의 변수에 담은 값을 각각의 변수에 할당하는 것
# 데이터의 개수와 변수는 반드시 일치해야 한다.
n1, n2, n3 = tl

# 출력형식이 포함된 문자열 .format(값1, 값2, 값3)
print("{0}, {1}, {2}".format(n1, n2, n3))# "안에 아무것도 안써도 됨, 안쓰면 순서대로 매칭됨"( 밑에거 참고)

# 변수의 값을 교환
n1, n2 = n2, n1
print("{0} {1}".format(n1, n2))

1, 2, 3
2 1

In [53]:
print("{}{} ".format(n1, n2, n3))

21

In [57]:
#형변황 : int(), float() , str()
#자료구조의 형변환 : list() - 함수라서 대괄호 x, tuple() , 사전은 형변환이 안됨(인덱스를 쓰지 않고 키를 활용해서)
my_list = [1, 2, 3]
my_tuple = ('x', 'y', 'z')
print(my_list)
print(my_tuple)

[1, 2, 3]
('x', 'y', 'z')

In [59]:
print(tuple(my_list))
print(list(my_tuple))

(1, 2, 3)
['x', 'y', 'z']

# 딕셔너리(사전)

In [61]:
# 딕셔너리{key : value, key : value, key : value} 
## 요소 하나하나를 아이템이라고 부름
# key는 숫자 인덱스 보다 문자인덱스를 선호(권장)(안덱스랑 햣갈림 밑에 참고)
#key는 중복 불가능

a = {1: 'a'} # 키가 1 값이 a
print(a)
print(type(a))

{1: 'a'}
<class 'dict'>

In [62]:
# 사전에 아이템 추가(item)
a[2] = 'b' # 인덱스  2번째라고 인식할 수 있어서 선호 안함
print(a)

{1: 'a', 2: 'b'}

In [64]:
stu = {'name' : '홍길동', 'phone':'010-1234-5678', 'age': 23} 
#데이터 프레임(db에서)은 딕셔너리의 확장판
print(stu)

{'name': '홍길동', 'phone': '010-1234-5678', 'age': 23}

In [65]:
#키를 이용해서 값을 조회(값을 얻어온다)
print(stu['name']) # 딕셔너리[key]
print(stu.get('name')) # 딕셔너리.get(key)


print(stu['age']) # 딕셔너리[key]
print(stu.get('age')) # 딕셔너리.get(key)

홍길동
홍길동
23
23

In [66]:
# keys 조회( 키만 조회)
stu.keys()

dict_keys(['name', 'phone', 'age'])

In [67]:
# values 조회(값만 조회)
stu.values()

dict_values(['홍길동', '010-1234-5678', 23])

In [68]:
#items
stu.items()

dict_items([('name', '홍길동'), ('phone', '010-1234-5678'), ('age', 23)])

In [69]:
# for 개별변수 in 집합변수(키값으로 잡으면 순서대로 추출할 수 있음)
for k in stu.keys(): # for k in ['name', 'phone', 'age'] - 리스트 형으로 담김
    
    print(k, " ==>", stu[k])

name  ==> 홍길동
phone  ==> 010-1234-5678
age  ==> 23

In [72]:
b = list(stu.keys()) # 그냥 추출하면 앞에 딕셔너리가 붙어서 리스트타입으로 형변환해주는거임
b

['name', 'phone', 'age']

In [75]:
c = list(stu.values()) # 그냥 추출하면 앞에 딕셔너리가 붙어서 리스트타입으로 형변환해주는거임
c

['홍길동', '010-1234-5678', 23]

In [76]:
d =list(stu.items())
d
# 리스트 하나의 요소가 튜풀로 묶여있는거임

[('name', '홍길동'), ('phone', '010-1234-5678'), ('age', 23)]

In [77]:
print(type(d))

<class 'list'>

In [78]:
print(d[0])

('name', '홍길동')

In [80]:
for k, v in stu.items(): 
    
    print(k, " ==>",v)

name  ==> 홍길동
phone  ==> 010-1234-5678
age  ==> 23

In [82]:
for k, v in d: 
    
    print(k, " ==>",v)

name  ==> 홍길동
phone  ==> 010-1234-5678
age  ==> 23

In [83]:
# 새로운 아이템 추가
stu['weight'] = 67.4
print(stu)

{'name': '홍길동', 'phone': '010-1234-5678', 'age': 23, 'weight': 67.4}

In [84]:
# 사전에 등록되있는 지 확인하는 방법
'weight' in stu

True

# 집합(set)

In [85]:
# 많이 안씀
# 집합 자료형 : 중복값은 허용하지 않으며(중복값 삭제됨), 순서대로 저장되지 않는다.
s1 = set([5,4,3,2,1,1,2,3,3,4,5])
s1

{1, 2, 3, 4, 5}

In [86]:
print(type(s1))

<class 'set'>

In [87]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

# 교집합, &
a = s1 &s2
print("교집합 : ", a)

#합집합, |
b = s1|s2
print("합집합 : ", b)

#차집합, -
c = s1-s2
print("차집합: ", c)

교집합 :  {4, 5, 6}
합집합 :  {1, 2, 3, 4, 5, 6, 7, 8, 9}
차집합:  {1, 2, 3}

In [90]:
print("교집합 : ", s1.intersection(s2))
print("합집합: ", s1.union(s2))
print("차집합 : ", s1. difference(s2))

교집합 :  {4, 5, 6}
합집합:  {1, 2, 3, 4, 5, 6, 7, 8, 9}
차집합 :  {1, 2, 3}

In [91]:
s1 = set([1, 2, 3])
# 요소 추가
s1. add(4)
print(s1)
s1.add(4,5) # 중복값은 추가안됨, 여러값을 한번에 추가 불가, 에러가 발생할 수 있다.(중복 떄문에)
print(s1)

{1, 2, 3, 4}

TypeError: set.add() takes exactly one argument (2 given)

In [92]:
s1. add(4)
print(s1)

{1, 2, 3, 4}

In [95]:
s1. add(5)
print(s1)

{1, 2, 3, 4, 5}

In [96]:
s1 = set([1,2,3])
s1.update([4,5,6])
print(s1)

{1, 2, 3, 4, 5, 6}

In [98]:
s1.update(7) # 리스트만 추가 할 수있다/ 에러남/ 밑에 참고
print(s1)

TypeError: 'int' object is not iterable

In [99]:
s1.update([7])
print(s1)

{1, 2, 3, 4, 5, 6, 7}

In [100]:

s1.remove(2)# 순서가 없어서 인덱스로 제거를 못함
print(s1)

{1, 3, 4, 5, 6, 7}

In [102]:
dic = {'a':10}
sse = {10}
print(dic)
print(sse)
print(type(dic))
print(type(sse))

{'a': 10}
{10}
<class 'dict'>
<class 'set'>

# 날짜 자료형

In [5]:
# 날짜 관련 함수를 가지고 있는 모듈을 포함
#import datetime : 해당 모듈전체를 가져온다는 의미
from datetime import date, time, datetime, timedelta
# 따로 나타나지는 않음. 시스템에 저장되는 거임

In [6]:
#date 변수, today() - 오늘 날짜를 구하는 함수
today = date.today()
print("today : {}".format(today))

today : 2022-09-01

In [7]:
print("연도 : {}".format(today.year))
print("월 : {}".format(today.month))
print("일 : {}".format(today.day))

연도 : 2022
월 : 9
일 : 1

In [9]:
#날짜 시간 구하기
current_datetime = datetime.today()
print("현재 날짜와 시간 : {}".format(current_datetime))

현재 날짜와 시간 : 2022-09-01 12:50:17.563606

In [10]:
# 형식화된 날짜 출력 : 서식(%) 
today = datetime.today()
print(today)
print(type(today))

2022-09-01 14:24:37.331909
<class 'datetime.datetime'>

In [16]:
#날짜 자료형을 문자열로 형번환
# %y : 년도(2자리),%Y : 년도 (4자리) %m : 월, %M  : 분, %H : 시간
d = today.strftime("%Y-%m-%d %H:%M:%S" )
print(d)
print(type(d))

2022-09-01 14:24:37
<class 'str'>

In [22]:
days = timedelta(days=-1)
# 어제날짜
print(today + days)
#일주일 전
print(today + days*7)
dayss = timedelta(days=-7)
print(today + dayss)
#8시간 전
hours = timedelta(hours=-8)
print(today + hours)

2022-08-31 14:24:37.331909
2022-08-25 14:24:37.331909
2022-08-25 14:24:37.331909
2022-09-01 06:24:37.331909

# 리스트 내포(list comprehension)

In [24]:
a = [] # a = list()
for i in range(1, 6):
    a.append(i*2)
    
print(a)

[2, 4, 6, 8, 10]

In [25]:
# 출력값 -[출력값]
a = [i *2 for i in range(1, 6)] # (i*2) 가 출력값 - 실제 리스트에 담겨질 값
print(a)

[2, 4, 6, 8, 10]

In [28]:
array = ['사과', '자두','초콜릿','바나나','체리']
output = []

for i in array : 
    if i != '초콜릿' : 
        output.append(i)
print(output)

['사과', '자두', '바나나', '체리']

In [32]:
# 인라인 함수 inline: 한줄로 이루어진 함수
array = ['사과', '자두','초콜릿','바나나','체리']
output = [i for i in array if i != '초콜릿']

print(output)

['사과', '자두', '바나나', '체리']