In [2]:
print("Hello Python") # 내장함수

Hello Python

In [3]:
a = 10
b = 20
print(a + b)

30

In [4]:
a = int(input("su = "))
b = int(input("su = "))
print(a + b)

su = 5
su = 3
8

In [6]:
def adder (x, y) : 
    return x+y

In [7]:
# 호출 : call By name(이름을 가지고 호출한다), call By value( 매개 변수를 가지고 호출한다)
adder(10,20)

30

In [8]:
def process(x, y, z)
    pass

SyntaxError: invalid syntax (2597159535.py, line 1)

In [10]:
def test():
    return 1, 2, 3, 4, 5 # (1, 2, 3, 4, 5) 기본이 튜플 형식으로 저장

In [11]:
test()

(1, 2, 3, 4, 5)

# 내장함수

In [12]:
# 절대값
print(abs(-3))
print(abs(3))

3
3

In [13]:
# all()- 모든 값이 True인지 검사하는 함수 (= and)
# 0과 1 (0이 아닌 수는 모두 참으로 간주)
print(all( [ 1,2,3]))
print(all( [ 1,2,3,0]))

True
False

In [14]:
# any() -한개라도 True이면 True (=or)
print(all( [ 1,2,3]))
print(all( [ 1,2,3,0]))
print(all( [ 0,0,0,0,0]))

True
False
False

In [ ]:
# 문자열일 경우 빈값이면 false, 값이 있으면 True
a = "hello"

if a : 
    print("True")
else:
    print("False")

In [15]:
a = ""

if a : 
    print("True")
else:
    print("False")

False

In [16]:
#dir : 객체 목록을 보는 내장함수
print(dir([1, 2, 3])) #객체의 멤버 목록(변수 나 함수)// [](리스트 ) 에 서 사용되는 변수, 함수를 다 보여달라
=

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [17]:
print(dir({'name' : '홍길동'})) //# 사전이 갖고있는 객체의 목록을 보여달라

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [48]:
a = 7
b = 3
c = a // b #정수 몫
d = a % b # 나머지
print("몫 : {}, 나머지 : {}".format(c, d))

몫 : 2, 나머지 : 1

In [20]:
print(divmod(7, 3))
print(divmod(1.3, 0.2))
#divmod : 몫과 나머지 출출하는 함수

(2, 1)
(6.0, 0.09999999999999998)

In [49]:
n1, n2 = divmod(7,3)
print("몫 : {}, 나머지 {}".format(n1, n2))

몫 : 2, 나머지 1

In [24]:
# 인덱스와 값을 리턴하는 함수 : enumerate()// 인덱스와 값을 같이 보여주는 함수
print(enumerate([10, 20, 30, 40, 50]))

<enumerate object at 0x000001C87987A500>

In [25]:
print(list(enumerate([10, 20, 30, 40, 50]))) # 리스트에 담야아 이렇게 보여준다

[(0, 10), (1, 20), (2, 30), (3, 40), (4, 50)]

In [28]:
for index,  value in enumerate([10, 20, 30, 40, 50]):
    print(index, value)

0 10
1 20
2 30
3 40
4 50

In [30]:
# eval( ) : 문자열의 따옴표를 제거하고 실행하는 함수 / " " 안에 수가 들어가면 문자로 인식하지만 eval 적용되면 " "에 들어간 게 숫자면 숫자로 인식, 식이면 식으로, 함수면 함수로 인식함

num = eval(input("number = "))

print(num + 7)
# int( )랑 비슷

number = 2
9

In [47]:
str = 'divmod(7, 3)'
print(int(str)) # 에러남

ValueError: invalid literal for int() with base 10: 'divmod(7, 3)'

In [33]:
str = 'divmod(7, 3)'
print(eval(str))

(2, 1)

In [34]:
# hex() 16진수로 나타내라
print(hex(234)) #234는 10진수

0xea

In [35]:
print(hex(3))

0x3

In [38]:
#id(객체) - 객체의 주소를 리턴하는 함수
a = 3
print(id (a)),id(3)
b = a
print(id (b))

1960429513072
1960429513072

In [39]:
a = input()
print (a)

2
2

In [45]:
b = input("입력 ="
         )
print

입력 =3

In [46]:
a = int(" 3")# 문자열을 정수형으로 변환하는 함수
print(a)
print(type(a))

b = int(3.4)#실수형을 정수형으로 변환
print(b)

c = int('1111', 2) #문자열을 2진수로 변환
print(c)

d = int("FF", 16) # 16진수
print(d)

3
<class 'int'>
3
15
255

In [50]:
a = ['사과','배', '수박', '바나나', '포도']
print(a)

['사과', '배', '수박', '바나나', '포도']

In [51]:
result = ""
for i in a :
    result += i+"," # result = result + (i + ",") // 리스트였다면 append를 사용
print(result)

사과,배,수박,바나나,포도,

In [53]:
a = ['사과','배', '수박', '바나나', '포도']
print(",".join(a))
print("/".join(a))
print("-".join(a))
print("\n".join(a))

사과,배,수박,바나나,포도
사과/배/수박/바나나/포도
사과-배-수박-바나나-포도
사과
배
수박
바나나
포도

In [54]:
# len() 요소의 갯수 추출
a = len("python")
print(a)

6

In [56]:
b = len([1, 2, 3])
print(b)

3

In [57]:
c = len((1, 'a'))
print(c)

2

In [58]:
#list(), tuple()
a = list("python") # 문자열을 리스트로 변환
print(a)
b = list((1, 2, 3))
print(b) # 튜플을 리스트로 변환

['p', 'y', 't', 'h', 'o', 'n']
[1, 2, 3]

# 사용자 정의함수

In [64]:
def calc(x):
    print ("x = ", x)
    return x * 2

In [65]:
a = [calc(1),calc(2),calc(3),calc(4)]
print(a)

x =  1
x =  2
x =  3
x =  4
[2, 4, 6, 8]

In [66]:
a = [] # 비어있는 리스트 객체 생성

for i in[1, 2, 3, 4]:
    a.append(calc(i))
print(a)

x =  1
x =  2
x =  3
x =  4
[2, 4, 6, 8]

In [67]:
#map(함수이름, 입력값리스트), 데이터 분석에서 자주 쓴다.
a = list(map(calc, [1, 2, 3, 4]))
print(a)

x =  1
x =  2
x =  3
x =  4
[2, 4, 6, 8]

In [68]:
c = "이"
print(c)
print(ord(c)) #ord(문자) : 문자코드

이
51060

In [70]:
a = "python"
for i in a : 
    print("{0} => {1}".format(i,ord(i))) # {1}의 결과 값은 컴퓨터 내장된거에 따라 다르게 나오는데 알파벳 순서에따라 커짐

p => 112
y => 121
t => 116
h => 104
o => 111
n => 110

In [71]:
a = max([1, 2, 3])
print(a)

b = max("python")
print(b)

3
y

In [72]:
a = min([1, 2, 3])
print(a)

b = min("python")
print(b)

1
h

In [73]:
a = pow(2,4)
print(a)
print(2**4)

16
16

In [74]:
#호출방법 : call by name(이름에 의한 호출)- 매개변수를 갖고 있지 않은 변수를 호출할 때,
            #call by value(값에 의해), 
            #call by refrence(참조_주소에 의한 호출)- 잘 안씀
def say(): # 매개변수를 안 갖고 있음
    #print("안녕하세요") # 어떤값을 되돌려줄 (return)의 의미가 없음
    a = "안녕하세요"
    return a

In [75]:
#함수 호출 -call by name

say()

'안녕하세요'

In [76]:
"안녕하세요"

'안녕하세요'

In [78]:
a = say()

In [79]:
a

'안녕하세요'

In [82]:
# 함수 선언 - call by value
def hello(name): 
    string = "hello, {}".format(name)
    print(string)

In [83]:
#함수호출 
hello("홍길동")

hello, 홍길동

In [84]:
# 함수 선언 
def hello(name): 
    string = "hello, {}".format(name)
    return string

In [85]:
#- call by value
hi= hello("lee")
print(hi)

hello, lee

In [87]:
# 함수 선언 
def hello(name): 
    #string = "hello, {}".format(name)
      #print(string)
     #return string
    return "hello, {}".format(name)

In [88]:
hello("장보고")

'hello, 장보고'

In [89]:
# 함수 선언 
def hello(name): 
    #string = "hello, {}".format(name)
      #print(string)
     #return string
    return "hello, " + name

In [90]:
hello("이순신")

'hello, 이순신'

In [92]:
 #call by refrence(참조_주소에 의한 호출)
a = [1, 2, 3, 4, 5]

# tot = tot + 1 => tot+=1
# tot = tot + 2
# tot = tot + 3
# tot = tot + 4
# tot = tot + 5
tot = 0
for i in a:
    tot += i 
    
print("tot = ", tot)

tot =  15

In [96]:
# def hap(date):
#     tot = 0
#     for i in date:
#         tot += i 
#           tot + i = tot
        
#     return tot

In [99]:
a = [1, 2, 3, 4, 5]
tot = 0
for i in a:
    tot += i 
  
    
print(tot)

15

In [97]:
a = [1, 2, 3, 4, 5]

tot = hap(a) # 함수호출// a 라는 주소를 가지고 온것
    
print("tot = ", tot)

NameError: name 'data' is not defined